<launch>
  
  <arg name="sim_map" default="$(find mrp)/data/map_final_gmapping.yaml"/>
  <!--<param name="/use_sim_time" value="true" />--> 

  <param name="/save_dir" value="$(find mrp)/data/" />

	
  <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
     <arg name="map_file" value="$(arg sim_map)"/>
  </include>
  

  <node name="get_pose_node" pkg="mrp" type="get_pose.py" >
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true" />

</launch>
